div.art-tile{
  background: #7a7a7a;
  text-align: center;
  position: relative;
  border-radius: 8px;
  border: 2px solid black;
  width: 100%;
  margin: 2rem 0rem 2rem 0rem;
  padding-bottom: 2rem;
}



div.art-tile > img{
  height: 300px;

  width: auto;
  padding: 3rem;
}

.div.art-tile > h5{
  text-align: center;
}

.gallery-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  text-align: center;
  position: relative;
}

.artwork-wrapper[disabled]{
  opacity: .3;
  pointer-events: none;
}

.gallery-frame{
  align-items: center;
  position: fixed;
  justify-content: center;
  background: black;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
}

#framed-art{
  height: 50vh;
  width: auto;
}
