.site-wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  position: relative;
  align-items: center;
}

.white{
  color: white;
}

.site-title{
  margin-left: 2rem;
  margin-right: 2rem;
}

aside.menu{
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  width: 100vw;
  background: #8A35FF;
  height: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside.menu > h2:first-child{
  margin-right: 1rem;
  padding: 2rem;
}

.outlet-wrapper{
  position: relative;
  margin-top: 10%;
}

aside.menu > div.rightSide{
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

aside.menu > div.rightSide > img#logo{
  background-color: white;
  border-radius: 8px;
}

.btn{
  background-color:#8A35FF;
}
